@charset "utf-8";

*{
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ddd;
}

header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul{
    font-size: 18px;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
main{
    width: 700px;
    margin: auto;
}

.container{
    height: 400px;
    border: 1px solid#ddd;
    background-color: #fff;
}

.img_principal{
    position: relative;
    width: 100%;
}
.poozer_logo{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-right: 30px;
}
.container1{
    display: flex;
    flex-direction: row-reverse;    
}
.h2_principal{
    font-size: 2.2em;
    width: 700px;
    position: absolute;
    padding-top: 30px;
    text-indent: 30px;
}

.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #3E9BB9;
    padding: 0 20px;
    color: #fff;
    font-size: 18px;
}

.content_3{
    position: absolute;
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.container3 p{
    width: 300px;
}
.container3{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img_allan{
    position: relative;
    filter: blur(1.5px);
    width: 100%;
    height: 400px;
}
.h2_status{
    font-size: 2.2em;
    font-weight: 600;
}

p{
    font-size: 18px;
}

h2.poozer_character{
    text-align: center;
    font-size: 2em;
}

.character{
    width: 150px;
    height: 200px;
    margin-bottom: 25px;
}

.character img{
    width: 100%;
    height: 100%;
}

.container3{
    height: auto;
    display: flex;
    flex-direction: column;
}

.div_character01, .div_character02, .div_character03{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 40px;
}

p.nome_character{
    margin: 0;
    text-align: center;
    width: 120px;
    margin: auto;
    background: #D9D9D9;
    border-radius: 100px 0 50px 10px;
    margin-bottom: 3px;
}

footer{
    box-sizing: border-box;
    border: 15px solid black;
    background-color: #D9D9D9;
    height: 300px;
    width: 700px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.poozer_footer{
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

footer p{
    position: absolute;
    text-align: center;
    width: 450px;
}

.content_footer{
    text-align: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .container{
        width: 300px;
    }
    main{
        width: 300px;
    }
    footer{
        width: 300px;
        flex-direction: column;
        gap: 20px;
    }
    .poozer_footer{
        width: 100px;
        height: 100px;
    }
    footer p{
        width: 150px;
        font-size: 14px;
        text-align: left;
    }
    .content_footer{
        width: 200px;
    }
    footer h2{
        font-size: 20px;
    }
    .h2_status{
        font-size: 1em;
    }
    p{
        font-size: 14px;
    }
    .content_3{
        gap: 10px;
        flex-direction: column;
    }
    .container3 p{
        width: 120px;
    }
    h2.poozer_character{
        font-size: 18px;
    }

    .character{
        width: 100px;
        height: 100px;
    }

    p.nome_character{
        font-size: 12px;
        width: 80px;
    }
    .poozer_logo{
        height: 150px;
        width: 150px;
    }
    .h2_principal{
        font-size: 20px;
        top: 30px;
        width: 300px;
        padding: 0;
        top: 60px;
    }
    menu{
        padding: 0;
    }
    .container1{
        flex-direction: column;
    }
    ul{
        padding: 0;
        font-size: 15px;
        text-align: center;
    }
    .container2{
        width: 300px;
        padding: 0;
        gap: 15px;
    }
    .content_3{
        width: 200px;
    }
    .div_character01, .div_character02, .div_character03{
        gap: 0;
    }
    div.content_3 p{
        width: 200px;
    }
}